<!-- FROM base.html -->
{% extends 'base.html' %}

<!-- CONTENT -->
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-dark"> Add new expense type</h4>
                <div class="col align-self-center">
                    <form action="" method="post" style="display: inline;">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form_t.as_p }}
                            <input type="submit" class="btn btn-success" value="Add">
                        </div>
                    </form>
                    <hr class="my-4">
                    <p class="lead">Expense type list: </p>
                    {% for type in expenses_type %}
                        <ul><small>{{ type }}
                            <form action="{% url 'delete_expense_type' type.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                            </form>
                        </small></ul>
                    {% endfor %}
                </div>

                <hr class="my-4">

                <h4 class="text-center alert alert-dark"> Add new expense</h4>
                <div class="col align-self-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <input type="submit" class="btn btn-success" value="Add">
                    </form>
                </div>
                <br>
            </div>

            <div class="col-sm-7 center">
                <h4 class="text-center alert alert-dark"> Expenses </h4>
                {% if expenses %}
                    <div class="form-check form-check-inline">
                        <form class="form-inline my-1 my-lg-0" action="{% url 'home' %}">
                            <input class="form-control mb-sm-0" type="search" placeholder="Type/Sum/Note"
                                   aria-label="Search"
                                   name="search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            <a href="{% url 'home' %}" class="btn btn-outline-success my-2 my-sm-0" role="button"
                           aria-pressed="true">Clear
                            Search</a>
                        </form>

                    </div>

                    <div class="col align-self-center">
                    <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Expenses type</th>
                            <th scope="col">Sum</th>
                            <th scope="col">Note</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                        {% for s in expenses %}
                            <tr>
                                <td>{{ s.date|date:"n/d/o" }} {{ s.date|time:"H:i" }}</td>
                                <td>{{ s.type }}</td>
                                <td>{{ s.sum }}</td>
                                <td>{{ s.notes }}</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <form action="{% url 'update_expense' s.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-info btn-sm" value="Update">
                                        </form>
                                        <form action="{% url 'delete_expense' s.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>

                    <div class="row">
                        {% if expenses.has_previous %}
                            <div class="btn-group">
                                <a href="?page=1" class="btn btn-outline-info">&laquo; First</a>
                                <a href="?page={{ expenses.previous_page_number }}" class="btn btn-outline-info">Previous</a>
                            </div>
                        {% endif %}

                        <div class="col">
                <span class="current">
                    Page {{ expenses.number }} of {{ expenses.paginator.num_pages }}
                </span>
                        </div>

                        {% if expenses.has_next %}
                            <div class="btn-group">
                                <a href="?page={{ expenses.next_page_number }}" class="btn btn-outline-info">Next</a>
                                <a href="?page={{ expenses.paginator.num_pages }}" class="btn btn-outline-info">Last
                                    &raquo;</a>
                            </div>
                        {% endif %}
                    </div>

                {% else %}
                    <h4 class="text-center alert alert-danger"> Empty </h4>
                {% endif %}

            </div>
        </div>
    </div>




{% endblock %}
<!-- END CONTENT -->
